.navigation{
    
    background-color:#fcb026;
  ;


   
    
}
.navigationbar{
    
    position:absolute;
}


    .navigation img {
        vertical-align: middle;
       
    
    }     
    .naviigation li {
font-weight: bolder;

    }
    .navbar-nav {
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-padding-y: 0.5rem;
      
         display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }


   
    
   
    